certifi==2022.12.7 ; python_version >= "3.8" and python_version < "4"
charset-normalizer==2.1.1 ; python_version >= "3.8" and python_version < "4"
idna==3.4 ; python_version >= "3.8" and python_version < "4"
msgspec==0.9.1 ; python_version >= "3.8" and python_version < "4.0"
pillow==9.3.0 ; python_version >= "3.8" and python_version < "4.0"
requests==2.28.1 ; python_version >= "3.8" and python_version < "4"
urllib3==1.26.13 ; python_version >= "3.8" and python_version < "4"
