name: Codestyle Check

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4.1.2
    - name: Set up Python 3.10
      uses: actions/setup-python@v5.1.0
      with:
        python-version: "3.10"
    - name: Install poetry
      run: make poetry-download
    - name: Install dependencies
      run: |
        poetry config virtualenvs.in-project true
        poetry install
    - name: Run style checks
      run: make check-codestyle
