name: Unit Tests

on: [push]

jobs:
  test-unit:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4.1.0
    - name: Set up Python 3.10
      uses: actions/setup-python@v4.7.1
      with:
        python-version: "3.10"
    - name: Install poetry
      run: make poetry-download
    - name: Install dependencies
      run: |
        poetry config virtualenvs.in-project true
        poetry install --all-extras
    - name: Run tests
      run: make test-unit
    - name: Report Coverage
      run: bash <(curl -Ls https://coverage.codacy.com/get.sh) report -l Python --force-language -r coverage.xml
      env:
        CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
