name: Integration Tests

on:
    push: null
    schedule:
    - cron: "0 0 * * *"

jobs:
  test-e2e:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        group: [ 1, 2, 3 ]
    steps:
    - uses: actions/checkout@v4.1.0
    - name: Set up Python 3.10
      uses: actions/setup-python@v4.7.1
      with:
        python-version: "3.10"
    - name: Install poetry
      run: make poetry-download
    - name: Install dependencies
      run: |
        poetry config virtualenvs.in-project true
        poetry install
    - name: Run tests
      continue-on-error: true
      run: PYTHONPATH=$(pwd) poetry run pytest -c pyproject.toml -x --splits 3 --group ${{ matrix.group }} --cov-report=html --cov-report xml --cov=valo_api tests/e2e
